body{
  background-color: rgb(76, 141, 141);
}

.input-group-text{
  height: 58px;
  background-color: rgb(174, 202, 193);
}

.btn-primary{
  background-color: green;
  border: none
}

.btn-primary:hover{
  background-color: rgb(37, 98, 24);
}

.error{
  color: red
}